.o_dashboard {
    background-color: #808080; 
}

.o_dashboard .btn {
    font-weight: 500;
    border-radius: 0.4rem;
}

.o_dashboard_item {
    background-color: white;
    border-radius: 0.5rem;
    color: black;
}
